/* Container for the loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  background-color: #111; /* Background color */
}

/* Style for the loader text */
.loader-text {
  font-size: 3rem; /* Large text size */
  font-weight: bold;
  color: #fff; /* White text color */
  display: inline-block;
  margin: 0 5px;
}
