:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 5;
  --outline-width: 0px;
}

main {
  width: 80vw;
  margin: 0 auto;
}

#cards {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
  padding-bottom: calc(var(--numcards) * var(--card-top-offset));
  margin-bottom: var(--card-margin);
}

#card-1 {
  --index: 1;
}

#card-2 {
  --index: 2;
}

#card-3 {
  --index: 3;
}

#card-4 {
  --index: 4;
}
#card-5 {
    --index: 5;
  }

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

.card-content {
  /* box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1); */
  background: #151515;
  color: #131212;
  overflow: hidden;
  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: stretch;
  padding: 1.4em;
  border-radius: 0.4em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: aliceblue;
}

.card-content > div {
  grid-area: text;
  width: 95%;
  max-width: 800px;
  place-self: center;
  text-align: left;
  display: grid;
  gap: 1em;
  place-items: start;
}

.card-content > figure {
  grid-area: img;
  overflow: hidden;
}

.card-content > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4em;
}

.card-title {
  font-weight: bold;
  font-size: 2.5rem;
 color: aliceblue;
  margin: 0;
}

.card-text {
  font-weight: 300 !important;
  line-height: 1.42 !important;
  font-size: calc(1.8vw + 0px) !important;
  color: aliceblue;
}

/* Animation */
@keyframes scale {
  to {
    transform: scale(1.1);
  }
}

.card-content {
  transform-origin: 50% 0%;
  will-change: transform;
  animation: scale 4s ease-in-out infinite alternate;
}

/* Responsive Styles */
@media (max-width: 768px) {
  :root {
    --card-height: 60vw;
    --card-margin: 2vw;
  }

  .card-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "text";
  }

  #cards {
    width: 90vw;
  }

  .card-content > figure {
    height: 40vw;
  }
}
