.appBar {
  background-color: transparent !important;
  /* Transparent background */
  box-shadow: none;
  /* Remove shadow */
  color: #FFFFFF !important;
  /* White color */
  padding: 10px 0px 0px 0px !important;
  /* Remove padding */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menuButton {
  color: #FFFFFF !important;
  /* White color for the menu icon */
}

.menuIcon {
  font-size: 60px !important;
}

.websiteName {
  color: #FFFFFF !important;
  /* White color for the website name */
  font-weight: 800 !important;
  text-transform: uppercase;
  font-size: 40px !important;
  font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE', sans-serif !important;
}

.css-j400xw-MuiPaper-root-MuiDrawer-paper {
  background-color: black !important;
  color: #FFFFFF !important;
}

.drawerBox {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height */
}

.drawerContent {
  flex-grow: 1;
  /* Ensures that the content above the social icons takes up available space */
}

.drawerHeader {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #2a2a2a;
  border-bottom: 1px solid #444;
}

.drawerTitle {
  flex-grow: 1;
  color: #FFFFFF;
  text-align: right;
  font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE', sans-serif !important;
  font-size: calc(16px + 1vw) !important;
}

.backButton {
  color: #FFF;
  /* Back button color */
  margin: 16px;
}

.list {
  text-align: center !important;
  /* Center the list items */
}

.list .MuiListItemText-primary {
  color: #fff !important;
  /* Text color */
  font-size: calc(16px + 1vw) !important;
  /* Responsive font size */
  font-weight: 400 !important;
  font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE', sans-serif !important;
  text-align: center;
}

.list .MuiListItemText-primary:hover {
  color: #888888 !important;
  font-weight: 300 !important;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.socialIcons .MuiIconButton-root {
  color: #FFFFFF;
  font-size: 40px;
}

@media (max-width: 600px) {
  .websiteName {
    font-size: 1rem !important;
    /* Smaller text on mobile */
  }

  .menuIcon {
    font-size: 30px !important;
  }

  .toolbar {
    padding: 0 10px;
    /* Less padding on mobile */
  }
}

@media (min-width: 601px) {
  .websiteName {
    font-size: 1.5rem;
    /* Larger text on desktop */
  }

  .toolbar {
    padding: 0 40px;
    /* More padding on larger screens */
  }
}
