.appBar {
  background-color: transparent !important;
  box-shadow: none;
  color: #ffffff !important;
  padding: 10px 0px 0px 0px !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menuButton {
  color: #ffffff !important;
}

.menuIcon {
  font-size: 60px !important;
}

.websiteName {
  color: #ffffff !important;
  font-weight: 800 !important;
  text-transform: uppercase;
  font-size: 40px !important;
  font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE', sans-serif !important;
}

.drawerBox {
  width: 350px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2a2a2a;
}

.drawerContent {
  flex-grow: 1;
}

.drawerHeader {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #2a2a2a;
  border-bottom: 1px solid #444;
}

.drawerTitle {
  flex-grow: 1;
  color: #ffffff;
  text-align: right;
  font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE', sans-serif !important;
  font-size: calc(16px + 1vw) !important;
}

.backButton {
  color: #ffffff;
  margin: 16px;
}

.list {
  text-align: center !important;
}

.list .MuiListItemText-primary {
  color: #ffffff !important;
  font-size: calc(16px + 1vw) !important;
  font-weight: 400 !important;
  font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE', sans-serif !important;
}

.list .MuiListItemText-primary:hover {
  color: #888888 !important;
  font-weight: 300 !important;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.socialIcons .MuiIconButton-root {
  color: #ffffff;
  font-size: 40px;
}

@media (max-width: 600px) {
  .websiteName {
    font-size: 1rem !important;
  }

  .menuIcon {
    font-size: 30px !important;
  }

  .toolbar {
    padding: 0 10px;
  }
}

@media (min-width: 601px) {
  .websiteName {
    font-size: 1.5rem;
  }

  .toolbar {
    padding: 0 40px;
  }
}
