.contact-info-container {
    display: flex;
    flex-direction: row; /* Align sections in a row */
    justify-content: center; /* Center all items */
    align-items: center; /* Vertically align items */
    flex-wrap: wrap; /* Wrap items to next line if needed */
    padding: calc(2vw + 20px);
    color: #ffffff;
    gap: 100px;
}

.contact-info-section {
    margin: 20px; /* Space between sections */
    text-align: center; /* Center text */
}

.contact-label {
    font-size: calc(0.8rem + 0.5vw); /* Responsive label size */
    color: #a1a1a1;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.contact-value {
    font-size: calc(1rem + 1vw); /* Responsive value size */
    font-weight: bold;
    color: #ffffff;
}

/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
    .contact-info-container {
        flex-direction: column; /* Stack sections in a column */
        padding: 20px;
    }

    .contact-info-section {
        margin: 10px 0; /* Less space between sections */
    }

    .contact-label {
        font-size: 1rem;
    }

    .contact-value {
        font-size: 1.5rem;
    }
}

/* Media query for very small devices */
@media (max-width: 480px) {
    .contact-info-container {
        gap: 0px; /* Set gap to 0 on mobile */
    }

    .contact-value {
        font-size: 1.2rem;
    }
}
