
@font-face {
  font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE';
  src: url('./assets/fonts/MADE-Tommy-Soft-Light-PERSONAL-USE.woff') format('woff2');
}

body {
  margin: 0;
  font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #121212;
  color: #FFFFFF;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
